<div class="container">

    <div class="row">
        <div class="col-md-11 p-5" id="Welcomeing">
            <div>

                <div class="m-5">
                    <h1>Welcome to</h1> <img src="../../assets/Logo.png" alt="MigrationDm"
                        style="width: 200px;height: 30px;"> &reg;
                    <br /><br />
                    <p class="text-align:center">
                        We all know how frustrating it is to wait for an immigration decision, we all have been
                        there! <br />
                        Luckily this service is designed to inform you as soon as a decision has been made about your
                        application.<br />
                        and why check serveral times a day when we can inform you directly<br />
                        wether it's an asylum application, citizenchip, working permit, etc...<br /><br />
                        This service supports both SMS/Emails and it's free of cost for short period applications
                        (1 months limit) <br />
                        please contact us for long waiting period applications
                        <br />

                        <b>For subscriptions please contact: </b><i>baseplat@baseplateorg.com</i><br />
                        <b>
                            Note: MigrationDm&reg; doesn't sell data and your informations will be deleted right
                            after you
                            get informed</b>
                    </p>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <button mat-raised-button color="primary" routerLink="/register">Register</button>
                </div>
            </div>
        </div>

    </div>
</div>